body {
  background-color: green;
}

.container {
  margin: 0 auto;
  margin-top: 2rem;
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  padding: auto;
}

div {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: x-large;
  margin: auto;
  font-weight: bold;
  border: 2px solid white;
  color: white;
}

.top {
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}
.box1,
.box2,
.box3 {
  border-top: none;
}
.box1,
.box4,
.box7 {
  border-left: none;
}
.box3,
.box6,
.box9 {
  border-right: none;
}
.box7,
.box8,
.box9 {
  border-bottom: none;
}

.winningText {
  margin-top: 2rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: large;
  font-weight: bold;
}
.turn {
  border: none;
  width: 300px;
  margin-top: -2rem;
}
.reset {
  margin-top: 1rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.resetButton {
  padding: 1rem;
  font-size: large;
  border-radius: 10px;
  font-weight: bold;
  color: green;
}
